<section class="m-5">
  <div class="flex justify-around items-center bg-gradient-to-r from-indigo-500 p-6 rounded-2xl">
    <div class="text-3xl leading-snug">
      讓電影體驗更完美<br>
      從CinePOS開始
    </div>
    <div>
      <img class="w-60" src="assets/images/logo/logo.svg" alt="logo">
    </div>
  </div>

  <div class="mt-1 pt-5">
      <ul class="grid grid-cols-4 gap-5">
        <li>
          <a [routerLink]="STATIC_ROUTES.BOOKING.ROOT" class="block rounded-2xl bg-dark-200 py-6 text-2xl text-center">
            訂票
          </a>
        </li>
        <li>
          <a [routerLink]="STATIC_ROUTES.REFUND" class="block rounded-2xl bg-dark-200 py-6 text-2xl text-center">
            退票
          </a>
        </li>
      </ul>
  </div>
</section>
