<div class="wrapper-page">
  <!--————————————  表單樣式 -————————————-->
  <div class="form-common-back utility-common-back">
    <h3 class="form-area-title">表單大標</h3>
    <!--————  一般input ————-->
    <div class="row">
      <span class="form-title">
        <i class="text-warn-100">*</i>一般input</span>
      <div class="form-content">
        <input class="form-input w-300" type="text">
      </div>
    </div>

    <!--————  選單 ————-->
    <div class="row">
      <span class="form-title">
        <i class="text-warn-100">*</i>選單</span>
      <div class="form-content">
        <div class="form-select">
          <mat-form-field class="w-300" appearance="fill">
            <mat-label>這個標籤之後會刪掉</mat-label>
            <mat-select>
              <mat-option [value]="null">請選擇</mat-option>
              <mat-option [value]="1">選項一</mat-option>
              <mat-option [value]="2">選項二</mat-option>
              <mat-option [value]="3">選項三</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <p class="text-12 mt-5 text-warn-100">這裡是錯誤訊息</p>
      </div>
    </div>

    <!--————  radio(橫) ————-->
    <div class="row">
      <span class="form-title">radio橫排</span>
      <div class="form-content">
        <div class="form-radio list-row text-12">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button class='mr-25' [value]="1">Option 1</mat-radio-button>
            <mat-radio-button class='mr-25' [value]="2">Option 2</mat-radio-button>
            <mat-radio-button [value]="3">Option 3</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>

    <!--————  radio(直) ————-->
    <div class="row align-items-start">
      <span class="form-title">radio直排</span>
      <div class="form-content">
        <div class="form-radio">
          <mat-radio-group aria-label="Select an option" class="list-column text-12">
            <mat-radio-button class='mb-12' [value]="1">Option 1</mat-radio-button>
            <mat-radio-button class='mb-12' [value]="2">Option 2</mat-radio-button>
            <mat-radio-button [value]="3">Option 3</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>

    <!--————  純文字 ————-->
    <div class="row">
      <span class="form-title">純文字</span>
      <div class="form-content">
        <p class="form-text">保護級</p>
      </div>
    </div>

    <!--————  日期 ————-->
    <div class="row">
      <span class="form-title">日期</span>
      <div class="form-content">
        <div class="form-date">
          <mat-form-field class="w-300">
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!--————  按鈕 ————-->
    <div class="row">
      <span class="form-title">按鈕</span>
      <div class="form-content">
        <button class="btn gray">登出</button>
      </div>
    </div>



  </div>
</div>