.dialog-main{
  width: 90%;
  margin: 10px auto;

}

.dialog-content{

  display: flex;
  justify-content: center;


}

.border-15{
  border-radius: 0.75rem;
}
.text-center{
  text-align: center;
}

.font-14{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.font-15{
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

.font-13{
  font-size: 12px;
  line-height: 18px;
}

.w-240{
  width: 240px;
}

.bg-dark{
  background-color: #222222;
  &-1{
    background-color: #313131;
  }
}

.color-dark{
  color: #EAEAEA4D;
}

.color-white{
  color: #DDDDDD;
  &-1{
    color:#FFFFFF80;
  }

  &-2{
    color: #EAEAEA4D;
  }
}

.border-b-white{
  border-bottom: solid 0.75px #DDDDDD;
}

.title{
  font-size: 30px;
  line-height: 36px;
  color: white;
  text-align: center;
  font-weight: 500;
  padding-top: 40px;
  padding-bottom: 24px;
}

.order-title{
  margin: 16px auto;
  text-align: center;
}

.order-detail{
  padding: 16px 24px;
  border-radius: 15px;
}

.btn-box{
  width: 90%;
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.btn{
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 25px;
  margin-top: 1rem;

  &-1{
    width: 213px;
  }

  &-dark{
    background-color: #222222;
    color: #DDDDDD;
  }

  &-gray{
    background: #FFFFFF80;
  }

  &-brand{
    background-color: #1A1A1A;
    background-image: linear-gradient(90deg, #9C6DFF 0%, #71DDFF 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  &-circle{
    margin-top: 0.875rem;
    border-radius: 40px;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    text-align: center;
    width: 84px;
    height: 86px;

    &-1{
      margin-top: 0.875rem;
      border-radius: 40px;
      padding: 1rem 1.5rem;
      font-size: 1rem;
      text-align: center;
      width: 144px;
      height: 86px;
    }

    &-2{
      margin-top: 0.875rem;
      border-radius: 40px;
      font-size: 1rem;
      text-align: center;
      width: 188px;
      height: 86px;
    }
  }
}

.box-pay{
  width: 100%;
  margin: 48px auto;
  padding: 32px 16px 32px 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #DDDDDD;
  border-top: solid 1px #DDDDDD;

}

.row{
  display: flex;
  justify-content: space-between;
}
