<ul class="ml-3">
  <!-- 日期時間 -->
  <li class="font-medium">
    <ng-template [ngIf]="isOverTime" [ngIfElse]="noOverTime">
      <span class="text-warn-100">{{ data.time| date:'M/d HH:mm' }} 開演前30分鐘內無法退票</span>
    </ng-template>
    <ng-template #noOverTime>
      <span>{{ data.time| date:'M/d HH:mm' }}</span>
    </ng-template>

  </li>
  <!-- 電影名稱 -->
  <li>
    {{ data.title }}
  </li>
  <!-- 座位&電影票資訊 -->
  <li class="font-medium">
    <span class="">{{ data.seatName }}</span>
    <span class="mx-3">{{ data.ticketType }}</span>
    <span>{{ data.ticketId }}</span>
  </li>
</ul>
