<div class="p-5">
  <!-- 輸入訂單編號 -->
  <div>
    <form class="example-form flex flex-row items-stretch" [formGroup]="form" (ngSubmit)="findOrderInfo()">
      <div class="text-sm -mb-5 basis-7/12">
        <mat-form-field class="example-full-width w-full text-sm" appearance="fill">
          <mat-label>訂單編號</mat-label>
          <input matInput  formControlName="orderId" type="text">
        </mat-form-field>
      </div>
      <div class="ml-4 -mr-20 basis-1/12">
        <button mat-raised-button color="primary" type="submit" class="h-full w-full" [disabled]="form.invalid">查詢</button>
      </div>
    </form>
  </div>
  <!-- 顯示訂單內電影票資訊 -->
  <section class="example-section">
    <span class="example-list-section">
      <mat-checkbox class="example-margin"
                    [checked]="allComplete"
                    [color]="task.color"
                    [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)">
        {{task.name}}
      </mat-checkbox>
    </span>
    <span class="example-list-section">
      <ul>
        <li *ngFor="let subtask of task.subtasks">
          <mat-checkbox [(ngModel)]="subtask.completed"
                        [color]="subtask.color"
                        (ngModelChange)="updateAllComplete()">
            {{subtask.name}}
          </mat-checkbox>
        </li>
      </ul>
    </span>
  </section>

  <button (click)="tt()">click</button>

</div>
