<div [ngSwitch]="type">
  <ng-container *ngSwitchCase="'-1'">
    <div class="seat seat-free" (click)="active()">
      <img class="h-full mx-auto" src="assets/images/icon/Vector.svg" alt="handicapped">
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'1'">
    <div class="seat seat-free" (click)="active()">
      <img class="h-full mx-auto" src="assets/images/icon/handicapped.png" alt="handicapped">
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'N'">
    <div class="seat seat-none" [class.step1-none]="step===1" (click)="active()">
    </div>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <div class="seat seat-free" (click)="active()">
    </div>
  </ng-container>
</div>
