<div class="main">
  <div class="box computer-calculate bg-dark-parmary" id="calulate" style="maring-bottom:15px;">
    <div class="computer-calculate-contain box-dark">
      <p class="small-title">實付金額</p>
      <div class="cont">
        <div class="cont-symbol">NTD</div>
        <div>70</div>
      </div>
    </div>
    <div class="computer-calculate-symbol">-</div>
    <div class="computer-calculate-contain">
      <p class="small-title">應付金額</p>
      <div class="cont">
        <div class="cont-symbol">NTD</div>
        <div>680</div>
      </div>
    </div>
    <div class="computer-calculate-symbol"> =</div>
    <div class="computer-calculate-contain">
      <p class="small-title">找零</p>
      <div class="cont">
        <div class="cont-symbol">NTD</div>
        <div>0</div>
      </div>
    </div>
  </div>

  <div class="box-contain" style="margin-top: 15px;">
    <div class="box payment bg-dark"  id="payment">
      <label class="small-title">支付方式</label>
        <button class="btn btn-dark">LINE Pay</button>
        <button class="btn btn-dark">現金</button>
    </div>
    <div class="box computer-keyboard bg-dark" id="keyboard">
      <div class="keyboard-1">
        <button class="btn btn-dark">c</button>
        <button class="btn btn-remove btn-gray"></button>
      </div>

      <div>
        <button class="btn-circle btn-dark">4</button>
        <button class="btn-circle  btn-dark">5</button>
        <button class="btn-circle  btn-dark">6</button>
        <button class="btn-circle-1 btn-dark">+10</button>
      </div>

      <div>
        <button class="btn-circle  btn-dark">7</button>
        <button class="btn-circle  btn-dark">8</button>
        <button class="btn-circle  btn-dark">9</button>
        <button>+20</button>
      </div>

      <div>
        <button class="btn-circle  btn-dark">1</button>
        <button class="btn-circle  btn-dark">2</button>
        <button class="btn-circle  btn-dark">3</button>
        <button>+50</button>
      </div>

      <div>
        <button>0</button>
        <button class="btn-circle">.</button>
        <button>+100</button>
      </div>

    </div>

  </div>

</div>
