<!-- 上方區塊 -->
<div class="bg-dark-200 px-4 py-3 flex items-stretch">
  <!-- 日期選擇 -->
  <div class="date-div grid grid-cols-7 flex-1 bg-dark-400 rounded-2xl p-2 border border-light-600">
    <div *ngFor="let date of dateArr index as i">
      <app-date-select [date]="date" [dateIndex]="i" (dateEmit)="getScheduleList($event)"></app-date-select>
    </div>
  </div>
  <!-- 重載時刻表 -->
  <button class="text-center text-xs text-light-400 px-3 ml-2 bg-dark-400 rounded-2xl border border-light-600 tracking-widest">
      <img class="mx-auto mb-1" src="assets/images/icon/repeat.svg" alt="repeat">
    重載時刻表
  </button>
</div>

<!-- 主要區塊 -->
<div class="movie-main mr-2 mt-2">
  <ng-template [ngIf]="data.length>0" [ngIfElse]="noData">
    <ul class="px-4 py-1 ">
      <li *ngFor="let item of data" class="bg-dark-400 rounded-2xl border border-light-600 tracking-widest my-3 p-4">
        <app-movie [movieData]="item" class="flex" (scheduleIdEmit)="opneSeatPOP($event)"></app-movie>
      </li>
    </ul>
  </ng-template>
  <ng-template #noData>
    <div class="p-4">
      沒有任何時刻!
    </div>

  </ng-template>

</div>


<!-- <div class="absolute bottom-10 right-10">
  <button mat-raised-button
    color="primary"
    class="w-40"
    type="submit"
    (click)="goTicketType()">
      下一步
  </button>
</div> -->
