// 按鈕
.btn {
  height: 30px;
  padding: 6px 12px;
  border-radius: 8px;
  letter-spacing: 0.1em;
  text-align: center;
  font-weight: 500;
  font-size: 12px;

  &.gray {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
  }
}