<cine-card>
    <cine-card-header>查詢結果</cine-card-header>
    <cine-card-content>
        <cine-table>
            <thead>
                <tr>
                    <th>標題</th>
                    <th>導演</th>
                    <th>年份</th>
                    <th>分類</th>
                    <th>評分</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paramItem of displayList">
                    <td data-title="標題">{{ paramItem.title }}</td>
                    <td data-title="導演">{{ paramItem.director }}</td>
                    <td data-title="年份">{{ paramItem.year }}</td>
                    <td data-title="分類">{{ paramItem.genre || '-' }}</td>
                    <td data-title="評分">{{ paramItem.rating }}</td>
                </tr>
            </tbody>
        </cine-table>

        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="pageSet1.totalCounts"
            [pageSize]="pageSet1.currentPageSize" [showFirstLastButtons]="true"
            [pageIndex]="pageSet1.currentPage-1" aria-label="Select page">
        </mat-paginator>
    </cine-card-content>
</cine-card>