<div class="timetable">
    <div class="dx-viewport overflow-y-auto">
        <div style="overflow: auto;">
            <dx-scheduler id="scheduler" [dataSource]="data" [views]="['timelineDay']" currentView="timelineDay"
                [firstDayOfWeek]="0" [startDayHour]="0" [endDayHour]="24" [showAllDayPanel]="false"
                [groups]="['theatreId']" [currentDate]="currentDate" [crossScrollingEnabled]="true" [cellDuration]="30"
                [height]="500" appointmentTemplate="appointment-template" timeCellTemplate="timeCellTemplate"
                 (onAppointmentDeleting)="deleteAppointment($event)"
                (onAppointmentUpdating)="updateAppointment($event)" (currentDateChange)="onCurrentDateChange($event)">
                <!-- <dxi-view type="timelineDay" name="timelineDay"></dxi-view> -->
                <dxo-editing [allowAdding]="false" [allowResizing]="false"></dxo-editing>
                <!-- <div *dxTemplate="let dataCell of 'dataCellTemplate'" [ngClass]="{
                    'disable-date': isDisableDate(dataCell.startDate)}">
                </div> -->
                <div *dxTemplate="let data of 'timeCellTemplate'" class="text-white">
                    {{data.date.getHours()}}:{{(data.date.getMinutes() < 10 ? '0' : '' ) + data.date.getMinutes()}}
                        </div>
                        <dxi-resource fieldExpr="movieId" [useColorAsDefault]="true" [dataSource]="moviesData">
                        </dxi-resource>
                        <!-- <dxi-resource fieldExpr="movieId"[useColorAsDefault]="true"  [dataSource]="moviesData">
                </dxi-resource> -->
                        <!-- <dxi-resource fieldExpr="rate" label="movieRate" [useColorAsDefault]="true"
                            [dataSource]="movieRate">
                        </dxi-resource> -->
                        <dxi-resource fieldExpr="theatreId" [dataSource]="theatreData">
                        </dxi-resource>
                        <!-- [ngClass]="{ 'disable-date': isDisableDate(model.endDate)}" -->
                        <div *dxTemplate="let model of 'appointment-template'">
                            <div class="showtime-preview text-white p-12 flex w-full justify-between">
                                <div>{{ (model.targetedAppointmentData.movie).title }}</div>
                                <div class="flex">
                                    <div class="dropdown-appointment-dates">
                                        {{model.targetedAppointmentData.movie.runtime}}
                                    </div>
                                    <div class="px-12">|</div>
                                    <div>{{model.targetedAppointmentData.movie.rate | rate}}</div>
                                </div>
                            </div>
                        </div>


                        <dxo-appointment-dragging [group]="'appointmentsGroup'" [onAdd]="onAppointmentAdd">
                        </dxo-appointment-dragging>
            </dx-scheduler>
        </div>
    </div>
</div>
<div class="w-full bg-dark-300  p-9 custom-drag h-[calc(100%-500px)] overflow-y-auto">
    <div class="title flex justify-between">
        <div>電影列表</div>
        <div>
            <input class="form-input w-80 mr-10" type="text" [(ngModel)]="movieTitle">
            <button mat-raised-button color="primary" type="submit" class="w-[60px]"
                (click)="getMovieList(movieTitle)">送出</button>
        </div>
    </div>
    <div>
        <dx-draggable id="list" data="dropArea" [group]="'appointmentsGroup'" (onDragStart)="onListDragStart($event)"
            class="flex flex-wrap mt-5">
            <dx-draggable
                class="item dx-card dx-theme-text-color dx-theme-background-color w-full xl:w-1/6 lg:w-1/4 md:w-1/3 sm:w-/2 m-2"
                [clone]="true" [group]="'appointmentsGroup'" [data]="movieList" (onDragStart)="onItemDragStart($event)"
                (onDragEnd)="onItemDragEnd($event)" *ngFor="let item of movieList" [id]="item.id">
                <div class="rounded-large p-4" style="height: 122px;" [ngStyle]="{background: item.color}">
                    <div class="font-bold">{{ item.text }}</div>
                    <div class="flex">
                        <div class="dropdown-appointment-dates">
                            {{item.runtime}}
                        </div>
                        <div class="px-3">|</div>
                        <div>{{item.rateName}}</div>
                    </div>
                </div>
            </dx-draggable>
        </dx-draggable>
    </div>
</div>