  // input
  .form-input {
    height: 48px;
    padding: 16px;
    background: #1A1A1A;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: #DDDDDD;

    &.input-textarea {
      height: 100px !important;
      width: 100% !important;
    }
  }