<div class="timetable ">
    <div class="dx-viewport">
        <div style="overflow: auto;">
            <dx-scheduler id="scheduler" [dataSource]="data" [views]="['timelineDay']" currentView="timelineDay"
                [firstDayOfWeek]="0" [startDayHour]="0" [endDayHour]="24" [showAllDayPanel]="false"
                [groups]="['theatreId']" [currentDate]="currentDate" [crossScrollingEnabled]="true" [cellDuration]="30"
                [height]="600" appointmentTemplate="appointment-template" timeCellTemplate="timeCellTemplate"
                (onAppointmentDeleting)="deleteAppointment($event)" (onAppointmentUpdating)="updateAppointment($event)"
                >
                <dxo-editing [allowAdding]="false"></dxo-editing>
                <div *dxTemplate="let data of 'timeCellTemplate'" class="text-white">
                    {{data.date.getHours()}}:{{(data.date.getMinutes() < 10 ? '0' : '' ) + data.date.getMinutes()}}
                        </div>
                        <dxi-resource fieldExpr="movieId" [useColorAsDefault]="true" [dataSource]="moviesData">
                        </dxi-resource>
                        <!-- <dxi-resource fieldExpr="movieId"[useColorAsDefault]="true"  [dataSource]="moviesData">
                </dxi-resource> -->
                        <!-- <dxi-resource fieldExpr="rate" label="movieRate" [useColorAsDefault]="true"
                            [dataSource]="movieRate">
                        </dxi-resource> -->
                        <dxi-resource fieldExpr="theatreId" [dataSource]="theatreData">
                        </dxi-resource>

                        <div *dxTemplate="let model of 'appointment-template'">
                            <div class="showtime-preview text-white p-12 flex w-full justify-between">
                                <div>{{ (model.targetedAppointmentData.movie).title }}</div>
                                <div class="flex">
                                    <div class="dropdown-appointment-dates">
                                        {{model.targetedAppointmentData.movie.runtime}}
                                    </div>
                                    <div class="px-12">|</div>
                                    <div>{{model.targetedAppointmentData.movie.rate | rate}}</div>
                                </div>
                            </div>
                        </div>


                        <dxo-appointment-dragging [group]="'appointmentsGroup'"
                            [onAdd]="onAppointmentAdd">
                        </dxo-appointment-dragging>
            </dx-scheduler>
        </div>
    </div>
</div>
<div class="w-full bg-dark-300  p-20 custom-drag" style="height: 350px;">
    <div class="title flex justify-between">
        <div>電影列表</div>

        <input class="form-input w-300 mr-10" type="text">
    </div>
    <!-- <div class="content grid grid-cols-3 gap-10 mt-20"> -->
        <dx-draggable id="list" data="dropArea" [group]="'appointmentsGroup'" (onDragStart)="onListDragStart($event)"class="content grid grid-cols-3 gap-10 mt-20">
            <dx-draggable class="item dx-card dx-theme-text-color dx-theme-background-color" [clone]="true"
                [group]="'appointmentsGroup'" [data]="moviesData" (onDragStart)="onItemDragStart($event)"
                (onDragEnd)="onItemDragEnd($event)" *ngFor="let item of moviesData"[id]="item._id">
                <div  class="rounded-large p-16" style="width: 200px;height: 122px;" [ngStyle]="{background: item.color}">
                    <div class="font-bold">{{ item.text }}</div>
                    <div class="flex">
                        <div class="dropdown-appointment-dates">
                            {{item.runtime}}
                        </div>
                        <div class="px-12">|</div>
                        <div>{{item.rate | rate}}</div>
                    </div>
                </div>
            </dx-draggable>
        </dx-draggable>

        <!-- <ng-container *ngFor="let item of moviesData">
            <div class="rounded-large p-16" style="width: 200px;height: 122px;" [ngStyle]="{background: item.color}">
                <div class="font-bold">{{ item.text }}</div>
                <div class="flex">
                    <div class="dropdown-appointment-dates">
                        {{item.duration}}
                    </div>
                    <div class="px-12">|</div>
                    <div>{{item.rate | rate}}</div>
                </div>
            </div>
        </ng-container> -->
    <!-- </div> -->
</div>
