<div [ngSwitch]="seatData.type">
  <!-- 無座位 -->
  <ng-container *ngSwitchCase="'N'">
    <div class="seat seat-none">
    </div>
  </ng-container>
  <!-- 不開放座位 -->
  <ng-container *ngSwitchCase="'-1'">
    <div class="seat seat-lock">
      <img class="h-full mx-auto" src="assets/images/icon/no.svg" alt="no">
    </div>
  </ng-container>
  <!-- 普通座位 -->
  <ng-container *ngSwitchCase="'0'">
    <ng-template [ngIf]="seatData.status === 0" [ngIfElse]="noFree">
      <div class="seat seat-free text-gray-400" [class.active-seat]="isActive" (click)="active()">
      </div>
    </ng-template>
    <ng-template #noFree>
      <div class="seat seat-lock" [class.seat-sold]="seatData.status === 1">
      </div>
    </ng-template>
  </ng-container>
  <!-- 殘障座位 -->
  <ng-container *ngSwitchCase="'1'">
    <ng-template [ngIf]="seatData.status === 0" [ngIfElse]="noFree">
      <div class="seat seat-free" [class.active-seat]="isActive" (click)="active()">
        <img class="h-full mx-auto" src="assets/images/icon/handicapped.png" alt="handicapped">
      </div>
    </ng-template>
    <ng-template #noFree>
      <div class="seat seat-lock" [class.seat-sold]="seatData.status === 1">
        <img class="h-full mx-auto" src="assets/images/icon/handicapped.png" alt="handicapped">
      </div>
    </ng-template>
  </ng-container>
</div>
