<section class="w-full px-20">
  <div class="wrapper-page form-common-back utility-common-back" [formGroup]="formGroup">
    <div class="form-select flex justify-end mb-10">
      <div class="flex flex-col justify-center items-center">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>請選擇</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let item of statusOptions" [value]="item.value">{{item?.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <p class="text-12 mt-5 text-warn-100">{{getErrorMsg(status)}}</p>
      </div>
    </div>



    <cine-card class="mb-50">
      <cine-card-header>基本資訊</cine-card-header>
      <cine-card-content>
        <div class="row">
          <span class="form-title">
            <i class="text-warn-100">*</i>電影中文名</span>
          <div class="form-content">
            <input class="form-input w-300" type="text" formControlName="title">
            <p class="text-12 mt-5 text-warn-100">{{getErrorMsg(title)}}</p>
          </div>
        </div>
        <div class="row">
          <span class="form-title">電影英文名</span>
          <div class="form-content">
            <input class="form-input w-300" type="text" formControlName="enTitle">
            <p class="text-12 mt-5 text-warn-100">{{getErrorMsg(enTitle)}}</p>
          </div>
        </div>

        <div class="row">
          <span class="form-title">預定上映日期</span>
          <div class="form-content">
            <div class="form-date">
              <mat-form-field class="w-300">
                <input matInput [matDatepicker]="picker" formControlName="releaseDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </cine-card-content>
    </cine-card>



    <cine-card>
      <cine-card-header>電影資訊</cine-card-header>
      <cine-card-content>
        <div class="row">
          <span class="form-title">導演</span>
          <div class="form-content">
            <input class="form-input w-300" type="text" formControlName="director">
          </div>
        </div>

        <div class="row align-items-start">
          <span class="form-title">主演</span>
          <div class="form-content flex flex-col" formArrayName="cast">
            <div class="flex" *ngFor="let actor of cast.controls; let i=index">
              <input class="form-input w-300 mr-10" type="text" [formControlName]="i">
              <div class="flex">
                <button class="secondary btn-icon mr-10" *ngIf="i===0" mat-raised-button (click)="addCast()">+</button>
                <img class="ml-10 cursor-pointer" *ngIf="i" src="assets/images/icon/cross.svg" alt="" (click)="removeCast(i)">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <span class="form-title">
            <i class="text-warn-100">*</i>片長</span>
          <div class="form-content">
            <input class="form-input w-300 mr-10" type="text" formControlName="runtime">分鐘
            <p class="text-12 mt-5 text-warn-100">{{getErrorMsg(runtime)}}</p>
          </div>
        </div>

        <div class="row">
          <span class="form-title">
            <i class="text-warn-100">*</i>分級</span>
          <div class="form-content">
            <div class="form-radio list-row text-12">
              <mat-radio-group aria-label="Select an option" formControlName="rate">
                <mat-radio-button class='mr-25' *ngFor="let item of rateOptions" [value]="item.value">{{item.name}}</mat-radio-button>
              </mat-radio-group>
            </div>
            <p class="text-12 mt-5 text-warn-100">{{getErrorMsg(rate)}}</p>
          </div>
        </div>

        <div class="row">
          <span class="form-title">
            <i class="text-warn-100">*</i>劇情類型</span>
          <div class="form-content">
            <div class="form-select select-small">
              <mat-form-field class="w-300" appearance="fill">
                <mat-label>請選擇</mat-label>
                <mat-select multiple formControlName="genre">
                  <mat-option *ngFor="let item of genreOptions" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <p class="text-12 mt-5 text-warn-100">{{getErrorMsg(genre)}}</p>
          </div>
        </div>

        <div class="row">
          <span class="form-title">支援硬體設備</span>
          <div class="form-content">
            <div class="form-select">
              <mat-form-field class="w-300" appearance="fill">
                <mat-label>請選擇</mat-label>
                <mat-select multiple formControlName="provideVersion">
                  <mat-option *ngFor="let item of provideVersionOptions" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row align-items-start">
          <span class="form-title">電影介紹</span>
          <div class="form-content">
            <button mat-raised-button class="secondary">一鍵潤飾</button>
            <textarea class="form-input input-textarea mt-10" name="" id="" cols="30" rows="10" formControlName="description" maxlength="300" placeholder="限輸入300字"></textarea>
          </div>
        </div>

        <div class="row" [ngClass]="{'align-items-start':posterUrl.value}">
          <span class="form-title">
            <i class="text-warn-100">*</i>封片圖片</span>
          <div class="form-content">
            <button mat-raised-button class="secondary" type="submit" (click)="fileUpload.click()">上傳檔案</button>
            <input
                   type="file"
                   class="hidden" #fileUpload
                   (change)="onFileSelect($event)">
            <p class="text-12 mt-5 text-warn-100">{{getErrorMsg(posterUrl)}}</p>
            <img *ngIf="posterUrl?.value" src="{{posterUrl.value}}" alt="" class="h-300 w-auto mt-10">
          </div>
        </div>

        <div class="row">
          <span class="form-title">預告片連結</span>
          <div class="form-content">
            <input class="form-input w-full mr-10" type="text" formControlName="trailerLink">
            <p class="text-12 mt-5 text-warn-100">{{getErrorMsg(trailerLink)}}</p>
          </div>
        </div>

        <div class="row">
          <span class="form-title">發行商</span>
          <div class="form-content">
            <input class="form-input w-full mr-10" type="text" formControlName="distributor">
          </div>
        </div>
      </cine-card-content>
    </cine-card>

    <button mat-raised-button color="primary" type="submit" class="w-60 float-right">送出</button>
  </div>
</section>
