<div class="wrapper-page">
    <cine-card class="card-wrap px-[15px]">
      <cine-card-content>
        <div class="main-box">
          <div class="main-card">
            <span>名稱</span>
            <div class="showBox">
              <span class="showText">{{ theaterData?.name }}</span>
            </div>
          </div>
          <div class="main-card">
            <span>樓層</span>
            <div class="showBox">
              <span class="showText">{{ theaterData?.floor }}F</span>
            </div>
          </div>
          <div class="main-card">
            <span>類型</span>
            <div class="showBox">
              <span class="showText">{{ theaterTypes[theaterData?.type] }}</span>
            </div>
          </div>
          <div class="main-card">
            <span>席次</span>
            <div class="showBox">
              <span class="showText">{{ theaterData?.totalCapacity }}</span>
            </div>
          </div>
          <div class="main-card">
            <span>無障礙席次</span>
            <div class="showBox">
              <span class="showText">{{ theaterData?.wheelChairCapacity }}</span>
            </div>
          </div>
        </div>
        <app-manager-seatchart [rows]="rows" [cols]="cols" [getViewData]="getViewData" [isPreview]="true"></app-manager-seatchart>
      </cine-card-content>
    </cine-card>
  </div>