@import "../../guideline-back/guideline-back.component.scss";

.form-title {
    width: 25% !important;
}

.form-content {
    margin-left: 10px;
}

.form-text {
    font-size: 15px !important;
    margin-left: 16px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}
  