@import "../../../../../node_modules/@angular/material/theming";
@include mat-core();
$mat-primary: (
  100: theme('colors.primary.100'),
  200: theme('colors.primary.200'),
  300: theme('colors.primary.300'),
  400: theme('colors.primary.400'),
  500: theme('colors.primary.500'),
  600: theme('colors.primary.600'),
  700: theme('colors.primary.700'),
  800: theme('colors.primary.800'),
  900: theme('colors.primary.900'),
  contrast: ()
);

$mat-secondary: (
  100: theme('colors.secondary.100'),
  200: theme('colors.secondary.200'),
  300: theme('colors.secondary.300'),
  400: theme('colors.secondary.400'),
  500: theme('colors.secondary.500'),
  600: theme('colors.secondary.600'),
  700: theme('colors.secondary.700'),
  800: theme('colors.secondary.800'),
  900: theme('colors.secondary.900'),
  contrast: ()
);
$custom-primary: mat-palette($mat-primary);
$custom-secondary: mat-palette($mat-secondary);
$custom-warn: mat-palette($mat-red);
$my-theme: mat-dark-theme($custom-primary, $custom-secondary, $custom-warn);
@include angular-material-theme($my-theme);

// .utility-common-back {
button {
  height: 42px;

  &.mat-primary {
    background: linear-gradient(to right, theme('colors.primary.500'), theme('colors.secondary.500'));
    @apply rounded-xl tracking-widest;
  }

  &.mat-button-disabled {
    background: rgba(255, 255, 255, 0.12) !important;
  }

  &.valid-form {
    animation: enableButton 0.5s forwards;
    transition: background-color 0.5s ease-in-out;
  }

  &.mat-warn {
    background: theme('colors.warn.200');
    color: theme('colors.warn.100') !important;
    @apply rounded-xl tracking-widest;
  }

  &.btn-icon.mat-raised-button {
    min-width: 0 !important;

  }
}

.mat-form-field-appearance-fill {
  .mat-form-field-flex {
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 12px !important;
    background-color: theme('colors.dark.200');
    padding: 0.8rem !important;
    padding-bottom: 0px !important;
  }

  .mat-form-field-underline {
    display: none;
  }
}

.mat-dialog-container {
  background: theme('colors.dark.200') !important;
  @apply rounded-xl tracking-widest #{!important};

}

// }
@keyframes enableButton {
  0% {
    opacity: 0.3;
  }
  50% {
    // filter: brightness(150%);
    filter: contrast(200%);
  }
  100% {
    // filter: brightness(100%);
    filter: contrast(100%);
    opacity: 1;
  }
}