<section [style.width]="cols*60 + 'px' ">
  <!-- 螢幕 -->
  <div>
    <div class="screen-border"></div>
    <div class="screen"></div>
  </div>

  <div class="mt-5 -ml-5 flex justify-center">
    <!-- ABCD -->
    <ul>
      <li *ngFor="let order of rowsOrder" class="my-6">
        <div class="w-40 h-30 rounded-t-lg rounded-b-md p-1 text-gray-400 text-center">{{ order }}</div>
      </li>
    </ul>
    <!-- 主要座位 -->
    <ul>
      <li *ngFor="let row of rowsArr index as i">
        <ul class="flex">
            <li *ngFor="let col of colsArr index as j" class="m-3">
              <app-manager-seatchart-seat [seatIndex]="i*cols + j" [step]="step" (activeOut)="activeOut($event)"></app-manager-seatchart-seat>
            </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- 下排數字 -->
  <ul class="flex w-full justify-center ml-15">
    <li *ngFor="let item of colsArr index as i" class="w-40 mx-3 text-center text-gray-400">
      {{i+1}}
    </li>
  </ul>
</section>

<button (click)="step = step+1">click</button>
<p>step: {{ step }}</p>
