<section class="w-60 bg-dark-200 h-full py-7 px-4 flex flex-col justify-between border-r border-light-600">
  <div>
    <!-- 項目清單 -->
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <img class="w-4 mr-3" src="assets/images/icon/Vector.svg" alt="Vector">
        <p>項目清單</p>
      </div>
      <span class="bg-dark-100 py-2 px-3 leading-4 rounded-full">0</span>
    </div>
    <!-- 項目內容 -->
    <div class="mt-5">
      <!-- 元件 -->
      <p class="ml-5 text-light-500">目前沒有任何項目。</p>
    </div>
  </div>


  <ul>
    <li class="px-4 py-3 bg-dark-300 border border-light-600 rounded-xl">
      <p class="text-xs text-light-400">總計</p>
      <p class="flex justify-between items-center mt-2">
        <span>NTD</span>
        <span>0</span>
      </p>
    </li>
    <li class="mt-6">
      <button mat-raised-button color="primary" type="submit" class="w-full" (click)="goPayment()">結帳</button>
      </li>
    <li class="mt-4">
      <button mat-button color="warn" class="w-full">刪除全部</button>
    </li>
  </ul>
</section>
