<header class="flex justify-between items-center bg-dark-400 py-3 px-10">
  <ul class="flex items-center">
    <li class="mr-16">
      <button type="button">
        <img class="w-10" src="assets/images/logo/logo.svg" alt="logo">
      </button>
    </li>
    <li>
      <button type="button" class="px-5 text-lg" (click)="active = true;isTicket = true">
        <span class="pb-1" [class.border-b]="active&&isTicket">訂票</span>
      </button>
    </li>
    <li>
      <button type="button" class="px-5 text-lg" (click)="active = true;isTicket = false">
        <span class="pb-1" [class.border-b]="active&&!isTicket">退票</span>
      </button>
    </li>
  </ul>
  <ul class="flex items-center">
    <li>
      <button type="button" class="flex items-center" (click)="openProfile()">
        <img class="w-6 mr-2" [src]="profileData.imgUrl" alt="大頭貼">
        <p>{{ profileData.name }} #{{ profileData.staffId }}</p>
      </button>
    </li>
    <li class="ml-6">
      <button type="button" class="text-sm text-gray-400 border border-light-500 px-4 py-2 rounded-lg">
        登出
      </button>
    </li>
  </ul>
</header>


